body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: #FCF9EC;
}

#desktop {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #FCF9EC;
    font-size: 2em;
    font-weight: 600;
}

#app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-size: 1.6em;
    font-weight: 600;
}

#app-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    padding: 20px;
}

#horizontal-area, #vertical-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
}

#horizontal-area {
    background: #F0B7A4;
}

#vertical-area {
    background: #7ED3B2;
}

.area-inner {
    display: inline-flex;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 18px 40px -12px rgba(0, 0, 0, 0.15);
}
    
@media screen and (max-width:991px) and (min-width:100px) {
    #desktop {
        display: none;
    }           
}